.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-menu, .right-menu {
    border: none;
    box-shadow: none;
  }
  
  .right-menu {
    justify-content: flex-end;
  }
  