
<div class="login-container half-width-card mt-8 mx-auto">
  <p-card header="Login" styleClass="p-shadow-4" class="">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="formgroup">
        <div class="field mt-2">
          <p-floatLabel>
            <input pInputText id="username" class="w-full" formControlName="username" />
            <label for="username">Username</label>
          </p-floatLabel>
        </div>
        <div class="field mt-4">
          <p-floatLabel>
            <input pInputText id="password" class="w-full" formControlName="password" />
            <label for="password">Password</label>
          </p-floatLabel>
        </div>
        <p-button 
          type="submit" 
          label="Submit" 
          [disabled]="loginForm.invalid"
          styleClass="p-button-outlined">
        </p-button>
    </div>
    </form>
  </p-card>
</div>
  